.searchbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}
.searchbarFriendImg{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px;
}

.searchbarFriendName{
    font-size: 20px;
    font-weight: 400;
    text-overflow: ellipsis;
}