.login{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 90%;
    height: 90%;
    display: flex;
}

.loginLeft,.loginRight{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.loginLogo{
    /* color: #1775ee; */
    color: #3b28cc;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 24px;
}

.loginBox{
    height:400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    /* background-color: #1775ee; */
    background-color: #3b28cc;
    border-radius: 10px;
    border: none;
    color:white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: #3b28cc;
}

.loginRegisterButton{
    width: 100%;
    align-self: center;
    align-content: center;
    height: 50px;
    background-color: #42b72a;
    border-radius: 10px;
    border: none;
    color:white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginBox .shareOption{
    display: flex;
    margin: 7px  0;
}

.loginBox .shareOption .shareIcon{
   flex:1;
}

.loginBox .shareOption .shareOptionText{
   flex:4;
}

.loginBox .shareOption #file{
    flex:0.1
}

@media only screen and (max-width: 600px) {
    .loginWrapper{
        flex-direction: column;
        text-align: center;
    }
    .loginLeft{
        margin-bottom: 20px;
    }
    .loginWrapper{
        width: 100%;
        /* height: 100%; */
    }
}


