.profile{
    display: flex;

}

.profileRight{
    /* flex:9; */
    max-width: 100%;
}

.profileCover{
    height:320px;
    position: relative;
}

.profileCoverImg{
    max-height: 250px;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top:150px;
    border: 3px solid white;
}

.profileInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}

.rightbarFollowButton{
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .profileCover{
        height: 200px;
    }
    .profileCoverImg{
        height: 150px;
    }
    .profileUserImg{
        top:90px;
        width:100px;
        height: 100px;
    }
    .profileRightBottom{
        flex-direction:column ;
    }

  }

